@model kinoba.web.Models.KinobaBaseModel

@{
    ViewBag.Title = "Login";
}

Войти с помощью <a href="@Url.Action("vklogin", "auth")">Вконтакте</a><br />
Войти с помощью <a href="@Url.Action("fblogin", "auth")">Фейсбук</a><br />

