<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!-- Data Source=tcp:l6jeya7jkr.database.windows.net,1433;Initial Catalog=kinoba;User ID=kinousa@l6jeya7jkr;Password=Polotno1917 -->
    <add name="kinobaEntities" connectionString="metadata=res://*/KinobaModel.csdl|res://*/KinobaModel.ssdl|res://*/KinobaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARKSXPS13\SQLEXPRESS;initial catalog=kinoba;user id=kinousa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="kinobaEntities"
         connectionString="metadata=res://*/KinobaModel.csdl|res://*/KinobaModel.ssdl|res://*/KinobaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:l6jeya7jkr.database.windows.net,1433;initial catalog=kinoba;user id=kinousa@l6jeya7jkr;password=Polotno1917;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="kinobaEntities" value="metadata=res://*/KinobaModel.csdl|res://*/KinobaModel.ssdl|res://*/KinobaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARKSXPS13\SQLEXPRESS;initial catalog=kinoba;user id=kinousa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" />-->
    <!--<add key="kinobaEntities" value="metadata=res://*/KinobaModel.csdl|res://*/KinobaModel.ssdl|res://*/KinobaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:l6jeya7jkr.database.windows.net,1433;initial catalog=kinoba;user id=kinousa@l6jeya7jkr;password=Polotno1917;MultipleActiveResultSets=True;App=EntityFramework&quot;" />-->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="VkontakteAppId" value="4736935"/>
    <add key="VkontakteAppSecret" value="Gp9pVa6HqxjQeBWIvZMm"/>
      <add key="FacebookAppId" value="923092701055260"/>
      <add key="FacebookAppSecret" value="0a3cca574073e9f47ef446542139654d"/>
      
      
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" />
    </authentication>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime maxRequestLength="51200"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <!--<remove name="FormsAuthentication"/>-->
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
        <requestFiltering>
            <requestLimits maxAllowedContentLength="52428800"></requestLimits>
        </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>