<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kinoba.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kinoba.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>kinoba</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$kinoba</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ty4ko1rm5q.database.windows.net,1433;Initial Catalog=kinoba;User ID=kinousa@ty4ko1rm5q;Password=Polotno1917" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="kinoba.web.Models.ApplicationDbContext, kinoba.web" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="kinobaEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ty4ko1rm5q.database.windows.net,1433;Initial Catalog=kinoba;User ID=kinousa@ty4ko1rm5q;Password=Polotno1917" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="kinoba.business.kinobaEntities, kinoba.business" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ty4ko1rm5q.database.windows.net,1433;Initial Catalog=kinoba;User ID=kinousa@ty4ko1rm5q;Password=Polotno1917</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)kinobaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/KinobaModel.csdl|res://*/KinobaModel.ssdl|res://*/KinobaModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:ty4ko1rm5q.database.windows.net,1433;Initial Catalog=kinoba;User ID=kinousa@ty4ko1rm5q;Password=Polotno1917"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>